## Variables and Types

 Definition : **variable**

In Python, a variable is an object/ container used to store data, it allows us to store the information by assigning it to a symnbolic name given by the user. It is defined by using the mathematical operator '='. Remember to always start with the variable name on the left, then assign data to the variable.

For example:

$$x = 5.5, \quad \text{not} \quad 5.5 = x$$

Mathematically, here we would be assigning a value of 5 to variable x, we are not saying that x is the same as 5.

**NOTE**: In Python, the expression "=" is not the same as the mathematical definition of the equal sign, here it is an assignment operator.

Here, we look at some basic examples of direct assignment

### Naming Conventions

In [7]:
# Define a variable called 'var1' and assign a value of 245 to 'var1'

var1 = 245
print(var1)

245

The `print()` function allows us to print what is stored in the variable that we defined, we will cover more on functions in later sessions.

#### What 'names' can we use as variable names?

There are a list of rules that we need to abide to when naming our key words:
<ol>
    <li> variable names can not be key words
    <li> they should not begin with a number e.g 5var
    <li> they should not contain the following special characters ($, #, - , . , ' , @ , ... ). So just stick to the underscore or a number if it does not violet the above rule.
    <li> there should be no space in the variable name i.e you can not have earth gravity = 9.81
    <li> variable name can be upper case of lower case, but just be consistent
</ol>

In [21]:
# Example of wrong variable names, gives an error

var.6 = 5

SyntaxError: invalid syntax (<ipython-input-21-2868a4350651>, line 3)

In [25]:
# To know the key words that should not be used as variable names, we can use the code below.
#   Its not a piece of code that you will be using frequently, the more you code you will know these key 
#   words like the back of your hand.

import keyword

print("The Python keywords you should not use as variable names are: \n")
print(keyword.kwlist)

The Python keywords you should not use as variable names are:

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Here, key words will turn green, so you will have to use another name, or break the keyword by adding an underscore
e.g `pass_` instead of `pass`. 

But as a convention, avoid using keywords as variable names, there are a million other variable names you can use besides the 35 key words

It is recommended to use  `UpperCamelCase` for class names, `CAPITALIZED_WITH_UNDERSCORES` for constants, and `snake_case` for other names.

### Multiple assignments

You can have multiple variables that are assigned the same value. This can be done in the following ways

In [29]:
var_1 = var_2 = var_3 = 12

print(var_1 , var_2, var_3)

12 12 12

### Parallel assignment

Here we will be defining multiple variables on the same line of code, using one assignment operator `=`

In [35]:
x , y = 4 , 6

print('x = ', x ,' and ','y = ', y)

x =  4  and  y =  6

### Variable Types

There are about 4 common data types in Python and we will briefly go through them, we will further understand these as we work with them in later scripts. However, below is a comprehensive list of Python data types, some we may not even use atleast in these Introduction Scripts

<ol>
    <li> Numerical (int, float, complex)
    <li> Text (str)
    <li> Sequences (list, tuple)
    <li> Boolean (bool)
    <li> NoneType
    <li> Other: Set, Bytes etc
</ol>

In [40]:
# To find the type of the variable, we use the function type() e.g 'type(variable)'

x = 3
type(x)

int

In [45]:
###====================================================
###                 int()
###====================================================

# Int represents integers, numeric numbers that does not contain a decimal point. 
# These can take positive and negative numbers as illustrated below.

a = 1
b = 15548943132
c = -798413

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [50]:
###====================================================
###                 float()
###====================================================

# float() represents floating point numbers, these are numbers that contain one or more decimals. 
# These can take positive and negative numbers as illustrated below. 
# We can use the exponents 'e' when writing floats

d = 1.0
e =  123232e8
f = -123432223567.345

print(type(d))
print(type(e))
print(type(f))

<class 'float'>
<class 'float'>
<class 'float'>

In [51]:
###=================================================
###                 complex()
###=================================================

# For complex numbers unlike in Math and Physics where we use the letter 'i' for the imaginary number
# In Python, we use the letter 'j'

g = 2j
h = 2 - 6j

print(type(g))
print(type(h))

<class 'complex'>
<class 'complex'>

In [55]:
### ===============================================
###               str()
### ===============================================

# Strings are used to represent texts, these are always surrounded by quotation marks
# Either use single ('text') or double ("text") quatation marks.
# If the string has a single quotation mark, you should use the double quotation mark, to
#    prevent termination of the string.

i = 'Hello World'
ii = "World's Hello"

print(i, ':',type(i))
print(ii, ':',type(ii))

Hello World : <class 'str'>
World's Hello : <class 'str'>

In [57]:
### =================================================
###                bool()
### =================================================

# Boolean Values tests if a statement is true or false.

print( 4 == 5)
print( 6> 2.3)
print (7.1 <= 7.1)

False
True
True

###  Python as a calculator

Python can be used to add, subtract and do all other fun mathematical operations, below is a summary of the basic mathematical operations

| Description    | Sign | Example |
|----------------|------|---------|
| Addition       | +    | $x+y$   |
| Subtraction    | -    | $x-y$   |
| Division       | /    | $x/y$   |
| Multiplication | *    | $x*y$   |
| Modulus        | %    | $x%y$   |
| Power          | **   | $x**y$  |
| Floor Division | //   | $x//y$  |

The order of operation that is defined in Mathematics still holds in Python, that is 

<ol>
    <li> Parenthesis ()
    <li> Exponentiation **
    <li> Unary +x, -x
    <li> Multiplication * , Division /
    <li> Addition +, Subtraction -
    <li> Bitwise AND &, Bitwise XOR ^, Bitwise OR |
    <li> Comparisons, Identity and Membership operators
</ol>


<left> <b> <span style="color:blue;">Assigning and comparing are not the same !</span> </b></left>
Remember that the ` = ` does not have the same meaning than the equal sign in mathematics. Further, the variable name should be at the left of the assignment operator

In [58]:
x = 5
y = 12

z = x * y + x - y
print(z)

53

In [60]:
z = 2*x + 3
print(z)

13

In [62]:
# Notice what happens when we put the variable name on the right. Even if it mathematically makes sense
# Python can not make sense of this as it reads code from the left.

2*x + 3 = z

SyntaxError: cannot assign to operator (<ipython-input-62-83aa2b951def>, line 4)

### Casting

We can specify the data type of a variable by casting.

In [43]:
# Usually 3 would read as an int data type, but we can cast it into a string using the code below

x = str(3)

type(x)

str

In [70]:
var = 5

print(var ,':', type(var))
print(str(var) ,':', type(str(var)))
print(float(var) ,':', type(float(var)))
print(complex(var) ,':', type(complex(var)))
print(bool(var) ,':', type(bool(var)))

5 : <class 'int'>
5 : <class 'str'>
5.0 : <class 'float'>
(5+0j) : <class 'complex'>
True : <class 'bool'>

### Short Exercises to test understanding

#### Question 1 - What is wrong with variable names below, how would you correct it

In [73]:
4_var = 1.2
money$ = 2000
variable-name = 'String'
async = 12
var_name = 'string's'

SyntaxError: invalid decimal literal (<ipython-input-73-406d6dbf6539>, line 1)

#### Question 2 - What is the data type of the following variables

In [72]:
x_1 = 4.7
x_2 = 0j
x_3 = 0.3e1
x_4 = 'My name is Python Coder'